<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <h1>Gallery!</h1>
    <div class="image">
        <img src="/public/ChrisBrown.jpg" alt="breezy">
        <img src="/public/Chris_Brown_and_Patrizio_Pigliapoco_in_2016.jpg" alt="chris brown 2016">
        <img src="/public/Indigoat.jpg" alt="goat">
        <img src="/public/Backtosleepiguanas.jpg" alt="breezy iguana">
        <img src="/public/Breezyparty4.jpg" alt="breezy party4">
    </div>
</body>
</html>